
.dropdown-item {
    display: flex;
    background-color: #333;
    align-items: center;
    padding: 10px 10px; 
    cursor: pointer;
    width: 90%;
    border: #444 solid 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dropdown-menu {
    
    position: absolute; 
    top: 112%;
    left: -217px;
    background-color: #333;
    border-right: 2px solid #444;
    border-top: 2px solid #444;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 250px;
    height: 1000px;
    z-index: 1000;
}
