.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #444;
    background-color: #333;
    padding: 0rem 2rem;
    position: fixed;
    width: 100%;
}



.lucide {
  color: #ffffff;
  width: 40px;
  height: 40px;
  stroke-width: 2px;
}

.nav-items {
    margin: 15px;
    margin-right: 40pxx;
}
#nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}